streamlit
mysql-connector-python
pytesseract
scikit-learn
pandas
Pillow
python-dotenv
bcrypt
faker
reportlab
opencv-python
numpy
extra-streamlit-components
fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests
pdf2image
pypdf
plotly
openpyxl
